

.jumbotron{
	margin-top:20px;
	 margin-bottom: 0px;
    /*background-image: url("../train.jpg");*/
    background-image: url("https://media.giphy.com/media/tKX6FNU9UGwF2/giphy.gif");
    background-position: -60% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    
}

p{

text-align: center;

}

h1{
text-align:center;
font-size:100px;
color: white;
text-shadow: black 0.3em 0.3em 0.3em;
font-family: 'Sigmar One', cursive;
font-family: 'Erica One', cursive;


}

.trainSchedule{

font-size:30px;
text-align: center;
color:white;




}

#color{

 background-image: url("../background.jpg");


}